<div class="container">
  <%= link_to image_tag("logo.png", alt: "MyMemoirs"), root_path %>
  <div class="top-area pull-right">
    <div class="top-area-link section">
      <div class="lang">
        <a class="first">Eng</a>.<a>Fra</a>.<a class="last">Kor</a>
      </div>
      <div class="sign">
        <% if signed_in? %>
          <%= link_to "Sign out", signout_path, method: "delete" %>
        <% else %>
        <%= link_to "Sign in", signin_path %>|<%= link_to "Sign up", signup_path, class: "last" %>
        <% end %>
      </div>
    </div>
    <form role="search">
      <div class="search form-group section">
      <%= image_tag("icon_search.png")%><input type="text" class="search form-control" placeholder="Search">
      </div>
    </form>
  </div>
</div>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <li>
			<%= link_to root_path do %>
				<span>Home</span>
			<% end %>
		</li>
        <li><a href="#"><span>Story</span></a></li>
        <% if signed_in? %>
          <li><%= link_to current_user do %><span>My Page</span><% end %></li>
        <% else %>
          <li><a href="#"><span>My Page</span></a></li>
        <% end %>
        <li><%= link_to contact_path, class: "last" do %><span>Contact</span><% end %></li>
      </ul>
    </div>
  </div>
</nav>